nav {
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    margin: 0;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 5px;
}
nav a {
    margin-right: 20px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin: 10px;
}
nav a:hover, nav h3:hover {
    cursor: pointer;
    color: #ddd;
    text-decoration: underline;
}
nav a:active, nav h3:active {
    color: #aaa;
    text-decoration: underline;
}